* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--black);
  background-color: #f5f6f8;
  /* padding: 0 15px; */
  font-weight: 400;
}

:root {
  --black: #3b434e;
  --white: #fff;
  --primary: #7653fc;
  --primary-hover: #653fff;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --grey-light: #ebebeb;
  --grey: #b3c0d9;
}
